# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# IDE
.vscode
semaphore.go

*.env
config/
.env*

__debug_bin

*.log
.DS_Store
vendor/

# dumps and wal
dump.json
dump.json.tmp

# plans
plan-v2-broker.md
